root = true
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{c,h,phpt}]
indent_style = space
indent_size = 4

[*.{c,h}]
trim_trailing_whitespace = true

[*.{yml,m4,w32}]
indent_style = space
indent_size = 2

[package.xml]
indent_style = space
indent_size = 1

